<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinema.newland.cinema">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- 售卖界面：读 RFID 激活电影票 -->
        <activity
            android:name=".SellActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 首界面：读 RFID 联动闸门，3 秒后跳主界面 -->
        <activity android:name=".EntranceActivity" />

        <!-- 影院主界面：CO2 监测 + 风扇动画 + 照明灯开关 -->
        <activity android:name=".MainActivity" />
    </application>

</manifest>
